
@mixin breakpoint($min-or-max, $width) {

	@media only screen and ($min-or-max: $width) {
	
		@content;
		
	}
	
}

// For Self-Clearing Grouped Items

@mixin group {

	zoom: 1;

	&:before,
	&:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
		}

	&:after { clear: both; }

}

// Set Font Size

@mixin font-size($font-size: 18) {
	font-size: #{$font-size}px;
	font-size: #{$font-size / 10}rem;
	}

// @include rounded(VALUE);

@mixin rounded($radius: 4px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
	}

// @include border-radius(VALUE,VALUE,VALUE,VALUE);

@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	border-top-left-radius: $topleft;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	}

// @include box-shadow(HORIZONTAL VERTICAL BLUR COLOR))
	
@mixin box-shadow($shadow: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
	}

// .drop-shadow(HORIZONTAL, VERTICAL, BLUR, ALPHA);
	
@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
	-webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	-moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
	}
	
// @include opacity(VALUE);
	
@mixin opacity($opacity: 0.5) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	opacity: $opacity;
	}

// .background-size(VALUE VALUE);

@mixin background-size($size) {
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
	}

// For image replacement

@mixin hide-text {
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
	}

// Hide from visual and speaking browsers
	
@mixin hidden {
	display: none !important;
	visibility: hidden;
	}
	
// Hide but maintain layout
	
@mixin invisible { visibility: hidden; }
	
// Hidden but available to speaking browsers
	
@mixin visuallyhidden {

	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;

	// Make visuallyhidden focusable with a keyboard

	&.focusable
	&:active,
	&:focus {
		position: static;
		clip: auto;
		height: auto;
		width: auto;
		margin: 0;
		overflow: visible;
		}

}