
// Typography

$neuton: Neuton, Times, "Times New Roman", serif;
$proxima-nova: proxima-nova, Helvetica, Arial, sans-serif;

// Colors

$white: rgb(255, 255, 255);

$tan: rgb(238, 233, 226);
$lightgold: rgb(234, 228, 207);
$gold: rgb(186, 163, 131);
$brown: rgb(81, 80, 78);

$black: rgb(0, 0, 0);

// Form Errors

$pink: rgb(235, 197, 204);
$lightred: rgb(142, 94, 110);

// Cursor Selections

$yellow: rgb(252, 215, 0); // This should be changed to something else.